/*
============
COLOR SCHEME
============
*/

/* Palette URL: http://paletton.com/#uid=15d0u0kllllaFw0g0qFqFg0w0aF */
.color-primary-0 { color: #8C2F5E }	//Primary
.color-primary-1 { color: #D28CAF } //Lightest
.color-primary-2 { color: #AF5784 } //Light
.color-primary-3 { color: #69113E } //Dark
.color-primary-4 { color: #460024 } //Darkest



/* As RGBa codes */

.rgba-primary-0 { color: rgba(140, 47, 94,1) }
.rgba-primary-1 { color: rgba(210,140,175,1) }
.rgba-primary-2 { color: rgba(175, 87,132,1) }
.rgba-primary-3 { color: rgba(105, 17, 62,1) }
.rgba-primary-4 { color: rgba( 70,  0, 36,1) }


header {
  background-color: #460024;
  color: #D28CAF;
  text-align: center;
}

section {
  border: 1px;
  border-color: #00;
  background-color: #D28CAF;
  color: #460024;
}

a {
  color: #69113E;
}

a:visited {
  color: #8C2F5E;
}


/*
============
   FONTS
============
*/


h1, h2, h3, h4 {
  font-family: 'Dosis', serif;
}

p {
  font-family: 'Oswald', serif;
}

.font_oswald {
   font-family: 'Oswald', serif;
}

.font_titillium{
   font-family: 'Titillium Web', serif;
}

.font_dosis {
   font-family: 'Dosis', serif;
}

.font_bitter {
   font-family: 'Bitter', serif;
}

/*
============
 RESPONSIVE
============
*/

.portrait {
  text-align: right;
}

#project_1, #project_2, #project_3 {
  text-align: left;
background-color: #D28CAF;
}
  
@media (min-width: 768px) { /*md*/
  #project_1 {
    text-align: left;
  }

  #project_2 {
    text-align: right;
  }

  #project_3 {
    text-align: center;
  }

}

  @media (min-width: 992px){ /*lg*/
  #project_1 {
    text-align: left;
  }

  #project_2 {
    text-align: center;
  }

  #project_3 {
    text-align: right;
  }

}
