
/* Palette URL: http://paletton.com/#uid=15d0u0kllllaFw0g0qFqFg0w0aF */


.color-primary-0 { color: #8C2F5E }	//Primary
.color-primary-1 { color: #D28CAF } //Lightest
.color-primary-2 { color: #AF5784 } //Light
.color-primary-3 { color: #69113E } //Dark
.color-primary-4 { color: #460024 } //Darkest



/* As RGBa codes */

.rgba-primary-0 { color: rgba(140, 47, 94,1) }
.rgba-primary-1 { color: rgba(210,140,175,1) }
.rgba-primary-2 { color: rgba(175, 87,132,1) }
.rgba-primary-3 { color: rgba(105, 17, 62,1) }
.rgba-primary-4 { color: rgba( 70,  0, 36,1) }

/*body {
  background-color: #D28CAF
}*/
header {
  background-color: #460024;
  color: #D28CAF;
  text-align: center;
}

article {
  background-color: #D28CAF;
  color: #460024;
}

/*section {
  background-color: #69113E
}*/

.project {
  border-color: #460024
}

h1, h2, h3, h4 {
  font-family: 'Dosis', serif;
}

p {
  font-family: 'Oswald', serif;
}

a {
  color: #69113E;
}

a:visited {
  color: #8C2F5E;
}

.bordered-box {
  border-color: #460024;
}
